07.SourceCode/TongHop/Merchant/Merchant/Service References/WCF_Blackbox/BlackBoxService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoneyPacificBlackBox.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoneyPacificBlackBox.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PacificCodeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualAmount" type="xs:int" />
      <xs:element minOccurs="0" name="CodeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InitialAmount" type="xs:int" />
      <xs:element minOccurs="0" name="PartCodeNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacificCodeViewModel" nillable="true" type="tns:PacificCodeViewModel" />
  <xs:complexType name="ArrayOfPacificCodeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacificCodeViewModel" nillable="true" type="tns:PacificCodeViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacificCodeViewModel" nillable="true" type="tns:ArrayOfPacificCodeViewModel" />
</xs:schema>