trunk/07.SourceCode/TongHop/Merchant/Merchant/Service References/ServiceReference1/Main2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoneyPacificService.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoneyPacificService.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentModel" nillable="true" type="tns:PaymentModel" />
</xs:schema>